*{
    margin: 0;
    padding: 0;
}

#contenedor{
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: auto, auto, auto;
    grid-template-areas:
    
    "header"
    "contenedor"
    "pie" 
    
    ;
}

@media screen and (min-width: 568px){
    #contenedor{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto, auto, auto;
        grid-template-areas:
        
        "header"
        "contenedor contenedor"
        "pie" 
        
        ;
    }

    .contenido{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
        
    }
    .targeta{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    
    }
       
}

#contenedor{
    background-color: #2c2c30;
}

/* Header */

.header{
    grid-area: header;
    background-color: #2c2c30;
    width: 100%;
}

.logo{
    text-decoration: none;
    color: #fffffe;
    display: inline-block;
    padding: 5px;
    font-family: fantasy;
}
.logo:hover{
    color: #94a1b2;
    border-radius: 4px;
}

/* Contenido */
.contenido{
    background-color: #2c2c30;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:  10px;
}

.targeta{
    margin-bottom: 10px;
}


/* Pie (footer) */

.pie{
    grid-area: pie;
    background-color: #494b4e;
    text-align: center;
    width: 100%;
}

.pie ul li{
    list-style: none;
    float: left;
    margin-top: 10px;
}

.boton2{
    text-decoration: none;
    padding: 5px;
    color: #fffffe;
    background-color: #72757e;
    font-size: 13px;
    margin: 5px;
    border-radius: 4px;
    
}
.boton2:hover{
    background: #595c63;
    color: #fffffe;;
}

.copyright{
    margin-top: 45px;
    font-family: fantasy;
}

